@import "tailwindcss";

@theme {
  --color-brand-navy: #072754;
  --color-brand-blue: #3568fc;
  --color-brand-soft-blue: #d3e3fd;
  --color-brand-cyan: #dff8fb;
  --color-brand-background: #f9fcff;
  --color-brand-text: #071123;
  --color-brand-muted: #5f738d;
  --color-brand-border: #dce7f5;
  --color-brand-white: #ffffff;
}
